<%= link_to new_profile_path do %>
  <div class="container">
  	<div class="alert alert-info center">
		  <span class="glyphicon glyphicon-plus"></span>
		  Please enter your profile
		</div>
	</div>
<% end %>